# IntelliJ / Android Studio
*.iml
/.idea/

# Gradle
/.gradle/
/.kotlin/
/build/
/app/build/
.externalNativeBuild/
.cxx/

# Local configuration
/local.properties

# Android
/captures
*.apk
*.keystore

# macOS
.DS_Store
